.mainbg {
    -fx-background-image:url('background.jpg');
    -fx-background-size: 100% 100%;
}

.loadbg {
    -fx-background-image:url('loadbg.jpg');
    -fx-background-size: 100% 100%;
}

.savebg {
    -fx-background-image:url('savebg.png');
    -fx-background-size: 100% 100%;
}

.sky {
    -fx-background-image:url('sky.png');
    -fx-background-size: 100% 100%;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}
