.mainbg {
    -fx-background-image:url('background.jpg');
    -fx-background-size: 100% 100%;
}

.loadbg {
    -fx-background-image:url('loadbg.jpg');
    -fx-background-size: 100% 100%;
}

.savebg {
    -fx-background-image:url('savebg.png');
    -fx-background-size: 100% 100%;
}

.sky {
    -fx-background-image:url('sky.png');
    -fx-background-size: 100% 100%;
}

.hero {
    -fx-background-image:url('hero.png');
    -fx-background-size: 100% 100%;
}

.greenOrc {
    -fx-background-image:url('greenOrc.png');
    -fx-background-size: 100% 100%;
}

.bossOrc {
    -fx-background-image:url('armedBoss.png');
    -fx-background-size: 100% 100%;
}

.redOrc {
    -fx-background-image:url('redOrc.png');
    -fx-background-size: 100% 100%;
}

.deadOrc{
    -fx-background-image:url('dead_orc.png');
    -fx-background-size: 100% 100%;
}

.W_chest {
    -fx-background-image:url('WeaponChest(C).png');
    -fx-background-size: 100% 100%;
}

.C_chest {
    -fx-background-image:url('CoinChest(F).png');
    -fx-background-size: 100% 100%;
}
.O_chest {
    -fx-background-image:url('openChest.png');
    -fx-background-size: 100% 100%;
}

.windmill_tower{
    -fx-background-image:url('windmill_tower.png');
    -fx-background-size: 100% 100%;
}

.windmill_blade{
    -fx-background-image:url('windmill_blades.png');
    -fx-background-size: 100% 100%;
}

.coin {
    -fx-background-image:url('coin.png');
    -fx-background-size: 100% 100%;
}

.knife {
    -fx-background-image:url('ThrowingKnife.png');
    -fx-background-size: 100% 100%;
}

.shuriken {
    -fx-background-image:url('Shuriken.png');
    -fx-background-size: 100% 100%;
}

.platform1 {
    -fx-background-image:url('p1.png');
    -fx-background-size: 100% 100%;
}

.platform2 {
    -fx-background-image:url('p2.png');
    -fx-background-size: 100% 100%;
}

.platform3 {
    -fx-background-image:url('p3.png');
    -fx-background-size: 100% 100%;
}

.platform4 {
    -fx-background-image:url('p4.png');
    -fx-background-size: 100% 100%;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.fallingPlat{
    -fx-background-image:url('fallingPlat.png');
    -fx-background-size: 100% 100%;
}

